<!DOCTYPE html>
<html>
  <head>
    <title>LiveWellMessages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
      <div class="navbar-nav ml-auto mx-auto text-light text-center">
        <h1>
          <%= link_to 'Live Well Messages', root_path, style:'color: white' %>
        </h1>
        <p>by Tolu Akindele</p>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <br>
  </body>
</html>
